@import url(reset.css);

html{
	font-family: 'Roboto', sans-serif;
}
.header, .footer{
	height: 100px;
	background-color: #0000FF;
	color: white;
	text-align: left;
	box-sizing: border-box;
	padding-left: 35px;
	padding-top: 35px;
	font-weight: 700;
}

.main{
	display: flex;
	flex-wrap:wrap;
	align-items: center;
	gap: 30px;
	margin: 50px;
	min-height: calc(100vh - 300px);
}
.text{
	border: 5px solid black;
	align-items: center;
	width: 90vw;
	display:flex;
	flex: 40vw 1 1;
	aspect-ratio: 2/1.2;
	min-width: 310px;
	min-height: 190px;

}
.text p{
	font-weight: 700;
	font-size: calc(1rem + 1vw);
	line-height: 130%;
	margin: auto;
	text-align: center;
}

.footer{
	display: flex;
	justify-content: space-between;
}

.footer a{
	color: white;
	text-decoration: none;
	padding-right: 35px;
}



