@import url(reset css);

.header{
	height: 140px;
	width: 100%;
	top:0;
	display: flex;
	color: rgb(229,0,67,1);
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	font-style: normal;
	align-items: center;
	position: fixed;
	justify-content: space-between;
}
.header a{
	color: rgb(229,0,67,1);
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
	padding: 25px;
}

.content{
	margin-top: 140px;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}
.background{
	background-image: url("../img/logo1.png");
	background-size: cover;
	height: 950px;
	color: rgb(229,0,67,1);
	font-family: 'Roboto Slab', serif;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.text{
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	width: 1040px;
	box-sizing: border-box;
	text-align: left;
	padding: 25px;
	margin:auto;
	margin-top: 10%;
	margin-bottom: 10%;
}

.bottles{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

img{
	width: 281px;
	height: 863px;
}

.description{
	width: 1040px;
	background-image: url("../img/glass.png");
	background-repeat: no-repeat;
	background-position-x: 10%;
	background-position-y: center;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	text-align: left;
	padding-left: 20%;
	padding-bottom: 30px;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	box-sizing: border-box;
}

.foot{
	height: 140px;
	background-color: #F8BFC7;
	color: white;
	font-size: 50px;
	padding: 50px;
	box-sizing: border-box;
}

