@import url(reset.css);

:root{
	--main-background-color:#FFE138;
	--main-font-family:'Newsreader', serif;
}


.header{
	max-height: 160px;
	background-color: var(--main-background-color);
	font-family: var(--main-font-family);
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	padding: 1.5rem;	
}


.columns{
	width: 90vw;
	margin:auto;
	display: flex;
	justify-content: space-around;
	align-items: flex-start; 
}

.column{
	width: calc((100% - 200px)/3);
	font-family: var(--main-font-family);
	border:1px solid black;
	margin-top: 5%;
	margin-bottom: 5%;
}

.column h2{
	padding:2%;
	font-weight: bold;
}
.column p{
	padding:2%;
}

.image{
	background-size: cover;
	background-position: center;
	padding-bottom: 100%; 
}
.image.one{
	background-image: url(../img/Meta_Side_Table.png);
}
.image.two{
	background-image: url(../img/Click_Shelf.png);
}
.image.three{
	background-image: url(../img/Float_Shelf.png);
}
.footer{
	max-height: 160px;
	background-color: var(--main-background-color);
	font-size: 3rem;
	text-align: center;
	padding: 1.5rem;

}