@import url(reset css);
.page {
  font-family: sans-serif;
}

a {
  color: white;
}
.header footer {
  height: 50px;
  background-color: black;
  color: white;
  padding: 15px;
  box-sizing: border-box;

}

.header {
  font-size: 16px;
  margin: auto;
}
.logo h1{
  font-size: 20px;
  width: 200px;
  display: inline-block;
  margin: auto;
  margin-left: 160px;

}
.menu {
  font-size: 16px;
  display: block;
  margin-top: -20px;
  margin-left: 470px;

}

.menu a {
  margin: 5px, 20px;
  display: inline-block;
  margin-left: 20px;
}

.columns {
  width: 800px;
  margin: 50px auto;
  font-size: 0;
}

.left {
  width: 200px;
  margin-right: 10px;
  background-color: black;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
}
.right {
  width: 590px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
}

.left a {
  margin-top: 5px;
  display: block;
}

  <h1>Fresh strawberry tart</h1>
        TART
        80g unsalted butter
        45g powder sugar
        pinch of salt
        30g egg
        20g ground almonds
        130g cake flour
        25g bread flour

        ALMOND CREAM
        50g unsalted butter
        50g sugar
        50g ground almonds
        1 egg
        1 tsp ~ Vanilla extract
        6g cake flour

        CUSTARD CREAM
        2 egg yolks
        40g sugar
        12g cake flour
        200ml milk
        vanilla beans
        100ml heavy cream
        8g sugar

        TOPPING
        chocolate
        strawberry