@import url(reset.css);

@keyframes moving{
	from{
		top:0;
		left:0;
	}
	25%{
		top: 30px;
		left: 100px;
	}
	50%{
		top: 700px;
		left: 200px;
	}
	75%{
		top: 200px;
		left: 650px;
	}
	100%{
		top: 300px;
		left: 500px;
		background-color: green;
	} 
}

body {
	background: red;
}

.ball{
	width: 200px;
	height: 200px;
	background-color: orange;
	border-radius: 100px;
	position: relative;
	/*animation-name: moving;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-delay: .5s;
	animation-direction: alternate-reverse;*/
	animation: moving 2s ease-in-out infinite .5s alternate-reverse
}