@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');
.heading{
	background-color: #E5E000;
	width: 1440px;
	height: 200px;
}
.heading h1{
	font-size: 50px;
	font-weight: bold;
	font-style: normal;
	font-family: 'Playfair Display', serif;
	position: center;
	line-height: 200px;
	padding-left: 80px;
}
.img{
	background-image: url(../img/img.png);
	width: 1440px;
	height: 1080px;

}
.homework{
	background-color: #E5E000;
	width: 1440px;
	height: 100px;


}
.homework p{
	font-family: 'Roboto Slab', serif;
	line-height: 100px;
	font-size: 25px;
	padding-left: 80px;
}
.text h2 {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 50px;
	line-height: 300px;
	
}

.text {
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	font-weight: normal;
	height: 847px;
	width: 1440px;
	padding-left: 80px;

}


.logo {
	background-color: #E5E000;
	width: 1440px;
	height: 200px;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: 80px;
	
	
	}
.logo p{
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-align: right;
	line-height: 200px;
	padding-right: 80px;
}
