@import url(reset css);

.outer{
	font-size: 0px;
}
div{
	width: 200px;
	display: inline-block;
	color: white;
	vertical-align: top;
	font-size: 16px;
	/* блочные элементы по умолчанию занимают всю ширину окна, но если даже
	ширина позволяет им встать рядом, по умолчанию располагаются с новой строки.
	С помощью display inline-block можно расположить их в одну строку*/
}
.one{
	height: 200px;
	background-color: black;
}
.two{
	height: 200px;
	background-color: green;
}

a{
	width: 100px;
	height: 100px; /*линейные элементы нечувствительны к изменению высоты и ширины,
	 они всегда встают в одну линию и занимают ровно столько места, сколько в них 
	 содержится контента. Линейные элементы можно делать блочными, изменяя их св-ва
	 тегом display*/
	display: block;
	margin: auto;
}

img{
	/* Линейно-блочные элементы занимают столько место, сколько отведено под контент,
	но при этом чувствительны к изменению ширины и высоты (можно настроить)*/
	width: 100px;
	display: block;
}